header{
    background-color: #c5b6b6;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav-ions {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    justify-self: flex-end;
    color: tomato;
    text-transform: capitalize;
}
