ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: blueviolet;
    justify-content: space-between;
}
button{
    border: 1pcs solid black;
    cursor: pointer;
}
h1{
    color: black;
    margin: 0;
    padding: 0;
}
p{
    color: black;
    margin: 10px;
    padding: 1px;
}
div{
    margin: 0;
    padding: 0;
}